<div id="features" class="container-padding10050">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="affa-feature-icon">
          <div class="feature-icon-heading">
            <i class="ion ion-iphone"></i>
            <p>Aplicativo</p>
            <h4>Para Android e IOS</h4>
          </div>
          <p>O Sniffer App está disponível nas plataformas Android e IOS! Baixe e não perca nada do que está acontecendo em sua cidade.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="affa-feature-icon">
          <div class="feature-icon-heading">
            <i class="ion ion-ios-home"></i>
            <p>Os melhores locais</p>
            <h4>Tudo sobre sua cidade</h4>
          </div>
          <p>Que tal juntar os amigos e ir conhecer um lugar diferente? Baixe o Sniffer App e confira toda programação dos melhores locais da cidade.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="affa-feature-icon">
          <div class="feature-icon-heading">
            <i class="ion ion-clock"></i>
            <p>Todos os eventos</p>
            <h4>Não perca nada</h4>
          </div>
          <p>Que tal dar uma espiada no Sniffer para conseguir aquela dica especial de um evento para ir? Entre e confira!</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="features2" class="bg-grey container-padding100">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-5 col-sm-offset-0 col-md-offset-1 margin-bottom40-xs">
        <div class="padding-top140 padding-top80-sm padding-top0-xs text-center-xs">
          <div class="post-heading-left">
            <p>Tudo o que você precisa</p>
            <h2>Em qualquer hora, em qualquer lugar.</h2>
            <h5>Fique por dentro dos melhores momentos da sua cidade.</h5>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="affa-feature-icon2">
                <i class="ion ion-ios-people"></i>
                <p><strong>Eventos</strong> Encontre um lugar especial pra sair com a galera e curtir um som ao vivo e de boa qualidade.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="affa-feature-icon2">
                <i class="ion ion-fork"></i>
                <p><strong>Restaurantes</strong> Você vai encontrar tudo o que precisa para descobrir os melhores restaurantes da cidade.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="affa-feature-icon2">
                <i class="ion ion-beer"></i>
                <p><strong>Bares</strong> É melhor já ir combinando com a galera em qual bar vai será o encontro!</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="affa-feature-icon2">
                <i class="ion ion-ios-home"></i>
                <p><strong>Casas Noturnas</strong> O sniffer mostra tudo o que acontece nas casas noturnas da sua cidade.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-4 col-md-offset-0 col-lg-offset-1 img-padding-xs">
      	<figure class="img-layers2 img-layer-left-front">
        	<div class="img-layer-left animation animated animation-slide-in-right" data-animation="animation-slide-in-right">
          	<img src="/images/landing-page/landing/feature-1-left.png" alt="Image Left">
          </div>
          <div class="img-layer-right animation animated animation-fade-in-left" data-animation="animation-fade-in-left" data-delay="1000">
          	<img src="/images/landing-page/landing/feature-1-right.png" alt="Image Right">
          </div>
        </figure>
      </div>
    </div>
  </div>
</div>

<div id="testimonials" class="bg-img">
  <div class="bg-overlay bg-overlay90 container-padding140">
    <div class="container">
      <div class="carousel-slider testimonials-slider">
        <div class="slick-slide">
          <div class="affa-testimonial">
            <div class="testimonial-txt">
              <p>"Aenean erat turpis, iaculis at ultricies eget, malesuada sed turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."</p>
            </div>
            <div class="testimonial-name">
              <h4>Pedro Paulo</h4>
              <p>Usuário do Sniffer</p>
            </div>
          </div>
        </div>
        <div class="slick-slide">
          <div class="affa-testimonial">
            <div class="testimonial-txt">
              <p>"Aenean erat turpis, iaculis at ultricies eget, malesuada sed turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."</p>
            </div>
            <div class="testimonial-name">
              <h4>José Alberto</h4>
              <p>Usuário do Sniffer</p>
            </div>
          </div>
        </div>
        <div class="slick-slide">
          <div class="affa-testimonial">
            <div class="testimonial-txt">
              <p>"Aenean erat turpis, iaculis at ultricies eget, malesuada sed turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."</p>
            </div>
            <div class="testimonial-name">
              <h4>Rafael Motta</h4>
              <p>Usuário do Sniffer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="screenshots" class="container-padding100">
    <div class="container">
      <div class="post-heading-center margin-bottom80">
        <p>Imagens</p>
        <h2>Sniffer em ação!</h2>
        <h5>Saiba o que está acontencendo no seu estabelecimento favorito através de chat, fotos e vídeos em tempo real, conectando todos os seus frequentadores.</h5>
      </div>
    </div>
    <div class="carousel-slider screenshots-slider">
      <div class="slick-slide">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <figure><img src="/images/landing-page/screenshots/1.png" alt="Image"></figure>
            </div>
          </div>
        </div>
      </div>
      <div class="slick-slide">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <figure><img src="/images/landing-page/screenshots/2.png" alt="Image"></figure>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="download" class="bg-img" >``
  <div class="bg-overlay container-padding140120">
    <div class="container text-center">
      <div class="post-heading-center">
        <h2>Solução simples. Feita para todos.</h2>
      </div>
      <p class="text-lg text-padding margin-bottom50">Cansado de sempre ir nos mesmos lugares? Fazer sempre os mesmos programas? Está na hora de fazer uma reviravolta na sua rotina! Com o Sniffer, você fica por dentro de tudo que está rolando em sua cidade. Quer ver um show irado ou comer algo diferente? Você acha no Sniffer. Quer um novo sentido para sua vida? Você acha no Sniffer!</p>
      <div class="post-btn">
        <a href="#" class="btn-custom btn-white btn-border btn-rounded btn-icon" title="Download on Play Store"><i class="ion ion-social-android"></i>Play Store</a>
        <a href="#" class="btn-custom btn-white btn-border btn-rounded btn-icon" title="Download on App Store"><i class="ion ion-social-apple"></i>App Store</a>
      </div>
    </div>
  </div>
</div>

<div id="subscribe" class="hide container-padding140">
  <div class="container">
    <div class="affa-form-wrap">
      <div class="pull-left">
        <div class="pull-left post-heading-left padding-top10-lg padding-top10-md">
          <h2>Fique sempre atualizado</h2>
          <h5>Esteja sempre por dentro de nossas novidades!</h5>
        </div>
      </div>
      <div class="pull-right">
        <form method="post" action="#" class="pull-right affa-form-subscribe">
          <input type="text" name="email" placeholder="Email">
          <input type="submit" name="submit" value="Inscreva-se já">
        </form>
      </div>
    </div>
  </div>
</div>
