
<div class="container">
  <div class="inner">
    <div class="row">
      <div class="col-md-6">
        <div class="devices-container">
          <img src="/images/mobile-1.png" alt="Logo de um dispositivo com o aplicativo aberto, atras de outro aparelho" class="device-one" />
          <img src="/images/mobile-1.png" alt="Logo de um dispositivo com o aplicativo aberto" class="device-two" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-container">
          <h1>Em qualquer hora, em qualquer lugar.</h1>
          <h2>Fique por dentro dos melhores <span>momentos</span> da sua cidade</h2>
        </div>
        <div class="app-container">
          <div class="row">
            <div class="col-md-6">
              <a href="#">
                <img src="/images/logo-app-store.png" alt="Logo da App Store" class="logo-store pull-left" />
              </a>
            </div>
            <div class="col-md-6">
              <a href="#">
                <img src="/images/logo-google-play.png" alt="Logo da Google Play" class="logo-store pull-left" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
