
<div class="container">
  <div class="inner">
    <div class="row">
      <div class="col-md-6">
        <div class="devices-container">
          <img src="/images/device-2.png" alt="Logo de um dispositivo com o aplicativo aberto, atras de outro aparelho" class="device-one" />
          <img src="/images/device-1.png" alt="Logo de um dispositivo com o aplicativo aberto" class="device-two" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-container">
          <h2>Fique por dentro dos <span>melhores momentos</span> da sua cidade</h2>
        </div>
        <div class="features-container">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa fa-users"></i>
                </div>
                <div class="col-md-10">
                  <strong>Eventos:</strong>  Encontre um lugar especial pra sair com a galera e curtir um som ao vivo e de boa qualidade
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa fa-cutlery"></i>
                </div>
                <div class="col-md-10">
                  <strong>Restaurantes:</strong> Você vai encontrar tudo o que precisa para descobrir os melhores restaurantes da sua cidade
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa fa-beer"></i>
                </div>
                <div class="col-md-10">
                  <strong>Bares:</strong>  É melhor já ir combinando com a galera em qual bar vai ser o encontro!
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa fa-home"></i>
                </div>
                <div class="col-md-10">
                  <strong>Casas noturnas: </strong> O sniffer mostra tudo o que acontece nas casas noturnas da sua cidade
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="app-container">
          <div class="row">
            <div class="col-md-6">
              <a href="#">
                <img src="/images/logo-app-store.png" alt="Logo da App Store" class="logo-store pull-right" />
              </a>
            </div>
            <div class="col-md-6">
              <a href="#">
                <img src="/images/logo-google-play.png" alt="Logo da Google Play" class="logo-store pull-right" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
