<div class="sniffs-page">
  <div class="page-title">
    <div class="clearfix">
      <div class="pull-left">
        <h2>Sniffs</h2>
      </div>
    </div>
  </div>
  <div>
    <%= render "admin/shared/notice" %>
    <%= render "list" %>
    <div class="pagination-container">
      <%= paginate @sniffs, :theme => 'twitter-bootstrap-3' %>
    </div>
  </div>
</div>
