<div class="container">
  <div class="footer-links">
    <a href="https://www.facebook.com/aplicativosniffer" target="_blank" class="link-icon" title="Facebook">
      <i class="ion ion-social-facebook"></i>
    </a>
    <a href="https://www.instagram.com/appsniffer" target="_blank" class="link-icon" title="Instagram">
      <i class="ion ion-social-instagram"></i>
    </a>
    <a href="#">
      Voltar para o topo
      <i class="ion ion-ios-arrow-up"></i>
    </a>
  </div>
  <div class="footer-copyright">
    <p>&copy; <%= Time.current.year %> <b>Sniffer</b>. Todos os direitos reservados.</p>
  </div>
</div>
