<div class="container">
  <div class="navbar-header">
    <button class="collapsed navbar-toggle" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="../" class="navbar-brand">
      <img src="/images/logo-sniffer-big.png" alt="Logo do Sniffer" class="logo-store pull-right" />
    </a>
  </div>
  <nav class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="mailto: contato@snifferapp.com">Suporte</a>
      </li>
      <li>
        <a href="/termos-de-uso">Termos de uso</a>
      </li>
    </ul>
  </nav>
</div>
