<nav id="navigation" class="navbar scrollspy">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse-1">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="menu-collapse-1">
      <ul class="nav navbar-nav">
      	<li class="active"><a href="#header">Home</a></li>
        <li><a href="#features">Sobre</a></li>
        <li><a href="#features2">O que você encontra</a></li>
        <li><a href="#testimonials">Avaliações</a></li>
        <li><a href="#screenshots">Imagens</a></li>
        <li><a href="/admin/dashboard">Acesso admin</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="header-content" style="background-image:url(/images/landing-page/bg/city.jpg);">
  <div class="header-overlay">
    <div class="container">
      <div class="header-txt">
        <img src="images/landing-page/logo-big.png">
        <p>A cidade te chama</p>
      </div>
      <div class="header-img">
        <figure class="img-layers">
          <div class="img-layer-left animation animated animation-fade-in-left" data-animation="animation-fade-in-left" data-delay="200">
            <img src="/images/landing-page/landing/header-1.png" alt="Image Left">
          </div>
          <div class="img-layer-center animation animated animation-fade-in-up" data-animation="animation-fade-in-up" data-delay="800">
            <img src="/images/landing-page/landing/header-2.png" alt="Image Center">
          </div>
          <div class="img-layer-right animation animated animation-fade-in-right" data-animation="animation-fade-in-right" data-delay="200">
            <img src="/images/landing-page/landing/header-3.png" alt="Image Right">
          </div>
        </figure>
      </div>
    </div>
  </div>
</div>
