<div class="container">
  <div class="navbar-brand"></div>
  <ul class="nav navbar-nav">
  	<li class="active">
      <a href="#header">Home</a>
    </li>
    <li class="">
      <a href="#features">Sobre</a>
    </li>
    <li class="">
      <a href="#features2">O que você encontra</a>
    </li>
    <li>
      <a href="#testimonials">Avaliações</a>
    </li>
    <li>
      <a href="#screenshots">Imagens</a>
    </li>
    <li>
      <a href="/admin/dashboard">Acesso admin</a>
    </li>
  </ul>
</div>
