<p>Bem-vindo(a) ao <strong>Sniffer</strong>, <%= @user.first_name %>!</p>

<p>Você fez login utilizando sua conta do <strong>Facebook</strong>.</p>

<p>Foi gerado uma senha automática para sua conta. <strong>A senha é: <%= @user.password %></strong></p>

<p>Recomendamos que esta senha seja alterada em seu primeiro acesso!</p>
