<div class="establishments-page">
  <div class="page-title">
    <div class="clearfix">
      <div class="pull-left">
        <h2>
          Nova tag
        </h2>
      </div>
      <div class="pull-right">
        <a href="<%= admin_tags_path %>" class="btn btn-success">
          <i class="fa fa-angle-left"></i>
          Voltar
        </a>
      </div>
    </div>
  </div>
</div>
<div>
  <%= render "form", tag: @tag %>
</div>
