body {
  margin-bottom: 30px !important;
}

.hide {
  display: none !important;
}

.page-content {
  margin-top: 30px;
}

.devise-content {
  .inner {
    max-width: 400px;
    margin: 0 auto;

    > a {
      display: block;
      text-align: center;
    }
  }
}

.tab-content {
  margin-top: 30px;
}

.pagination-container {
  .pagination {
    justify-content: center;
    border-top: 1px solid #EEE;
    padding-top: 15px;
  }
}

.page-title {
  margin-bottom: 30px;

  small {
    color: #999;
    font-size: 14px;
    line-height: 25px;
  }
}

h1, h2, h3, h4 {
  small {
    color: #999;
    font-size: 14px;
    line-height: 25px;
  }
}

.no-results-container {
  div {
    margin: 50px 0;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    font-weight: 300;

    .fa-check {
      color: #27ae60;
    }

    .fa-remove {
      color: #e74c3c;
    }
  }
}

td > .fa {
  &.fa-check {
    color: #27ae60;
  }

  &.fa-remove {
    color: #e74c3c;
  }
}

nav.navbar.navbar-inverse {
  background-color: #2980b9;
  border-color: #2980b9;

  .navbar-collapse .nav.navbar-nav li.active a {
    background-color: #1e6492;
  }

  .navbar-header a {
    color: #FFF;
  }

  .navbar-nav > li > a {
    color: #FFFFFF;
  }
}
