<div class="terms-page">
  <div class="container">
    <h2>Termos de uso</h2>

    <h4>Bem-vindo!</h4>

    <p>Ficamos muito felizes por você ter decidido usar os serviços do Sniffer.</p>

    <p>Ao acessar ou usar o aplicativo do Sniffer ou outros serviços que chamaremos apenas de “Serviço”, você concorda com esses termos de uso, denominados “Termos de Uso”. Naturalmente, se você não concordar com os Termos, então não utilize os Serviços.</p>

    <p>Ao utilizar os Serviços, você declara que:</p>

    <ul>
      <li>Pode assinar um contrato vinculante com o Sniffer.</li>
      <li>Irá cumprir estes Termos e todas as leis, regras e regulamentos locais, estaduais, nacionais e internacionais aplicáveis.</li>
    </ul>

    <h3>Termos básicos</h3>

    <ul>
      <li>Você precisa ter pelo menos 14 anos de idade para usar o Serviço.</li>
      <li>Você não pode publicar fotos ou outros tipos de conteúdo por meio do Serviço que sugiram violência, nudez, nudez parcial, discriminação, atos ilegais, transgressões, ódio, pornografia ou sexo.</li>
      <li>Você é responsável por qualquer atividade que ocorra através de sua conta e concorda em não vender, transferir, licenciar ou ceder sua conta, seu nome de usuário ou qualquer direito da conta. Com exceção de pessoas ou entidades que estejam expressamente autorizadas a criar contas em nome de seus empregadores ou clientes, o Sniffer proíbe a criação de, e você concorda que não irá criar, uma conta para qualquer outra pessoa além de você mesmo. Você também declara que todas as informações fornecidas por você ou fornecidas ao Sniffer no momento do cadastro e em qualquer outro momento são verdadeiras, precisas, atuais e completas e você concorda em atualizar suas informações quando necessário para manter sua veracidade e exatidão.</li>
      <li>Você não pode compartilhar na página de algum evento ou estabelecimento fotos ou vídeos se não estiver presente naquele local.</li>
      <li>Você concorda que não irá solicitar, coletar ou usar as credenciais de login de outros usuários do Sniffer.</li>
      <li>Você é responsável por manter sua senha em sigilo e protegida.</li>
      <li>Você não pode difamar, perseguir, praticar bullying, praticar abuso , assediar, ameaçar, intimidar ou fingir ser pessoas ou entidades. Você não deve publicar informações privadas ou confidenciais através do Serviço, incluindo, entre outras coisas, as informações do seu cartão de crédito ou de outra pessoa, número do CPF ou outros números de identidade nacional, números de telefone que não sejam conhecidos publicamente ou endereços de email que não sejam conhecidos publicamente.</li>
      <li>Você não pode usar o Serviço para nenhuma finalidade ilegal ou não autorizada. Você concorda em obedecer todas as leis, regras e normas (por exemplo, federais, estaduais e municipais) aplicáveis ao seu uso do Serviço e seu Conteúdo (definido abaixo), incluindo, entre outras coisas, leis de direitos autorais.</li>
      <li>Você é o único responsável por sua conduta e por qualquer dado, texto, arquivos, informação, nomes de usuário, imagens, gráficos, fotos, perfis, clipes de áudio e vídeo, sons, trabalhos musicais, trabalhos de autoria, aplicativos, links e outro conteúdo ou materiais (coletivamente, "Conteúdo") que você envie, publique ou exiba no Serviço ou por meio dele.</li>
      <li>Você não pode mudar, modificar, adaptar ou alterar o Serviço ou mudar, modificar ou alterar outro site de forma que fique implícito falsamente que ele está associado ao Serviço ou ao Sniffer.</li>
      <li>Você não pode usar nomes de domínio ou URLs da Web em seu nome de usuário sem autorização prévia por escrito do Sniffer.</li>
      <li>Você não pode interferir ou interromper o Serviço ou servidores ou redes conectados ao Serviço, inclusive por meio de transmissão de worms, vírus, spyware, malware ou qualquer outro código de natureza destrutiva ou disruptiva. Você não pode inserir conteúdo ou código ou, então, alterar ou interferir na forma como qualquer página do Sniffer é renderizada ou exibida no navegador ou dispositivo de um usuário.</li>
      <li>Você não pode criar contas com o Serviço através de meios não autorizados, incluindo, entre outros, através da utilização de um dispositivo automatizado, script, bot, spider, rastreador ou scraper.</li>
      <li>Você não pode tentar impedir outro usuário de usar ou aproveitar o Serviço e você não pode incentivar ou facilitar violações desses Termos de Uso ou quaisquer outros termos do Sniffer.</li>
      <li>A violação desses Termos de Uso pode, a exclusivo critério do Sniffer, resultar no encerramento da sua conta do Sniffer. Você entende e concorda que o Sniffer não pode e não será responsável pelo Conteúdo publicado no Serviço e você usa o Serviço por sua conta e risco. Se você violar o texto ou a intenção desses Termos de Uso, ou se, de outra forma, gerar risco ou possível exposição legal para o Sniffer, nós podemos interromper o fornecimento do Serviço, na sua totalidade ou parcialmente, para você.</li>
    </ul>

    <h3>Condições gerais</h3>
    <ul>
      <li>Nós nos reservamos o direito de modificar ou encerrar o Serviço ou o seu acesso ao Serviço por qualquer motivo, sem aviso prévio, a qualquer momento. Você pode desativar sua conta do Sniffer entrando em contato com o suporte através do e-mail: sniffercontato@gmail.com.</li>
      <li>Se nós encerrarmos seu acesso ao Serviço ou você pedir o cancelamento da sua conta, suas fotos, mensagens e todos os outros dados não estarão mais acessíveis através de sua conta, mas esses materiais e dados podem permanecer e aparecer dentro do Serviço.</li>
      <li>Nós nos reservamos o direito, a nosso exclusivo critério, de alterar esses Termos de Uso de tempos em tempos. A menos que façamos uma alteração por motivos jurídicos ou administrativos, forneceremos um aviso com razoável antecedência antes de os Novos Termos entrarem em vigor. Você concorda que nós podemos notificá-lo sobre os Novos Termos publicando-os no Serviço, e que o seu uso do Serviço após a data de efetivação dos Novos Termos (ou envolvimento em determinada conduta que nós podemos especificar) constitui seu consentimento dos Novos Termos. Portanto, você deve analisar esses Termos de Uso e quaisquer Novos Termos antes de usar o Serviço. Os Novos Termos entrarão em vigor no momento da publicação, ou em data posterior conforme pode ter sido especificado nos Novos Termos, e se aplicarão ao seu uso do Serviço deste momento em diante. Esses Termos de Uso regerão todas as disputas que surjam após a data de efetivação dos Novos Termos.</li>
      <li>Nós nos reservamos o direito de recusar o acesso ao Serviço a qualquer pessoa, por qualquer motivo, a qualquer momento.</li>
      <li>Nós nos reservamos o direito de forçar a privação de qualquer nome de usuário por qualquer motivo.</li>
      <li>Nós podemos, mas não temos a obrigação de, remover, editar, bloquear e/ou monitorar Conteúdo ou contas com Conteúdo que nós determinamos, a nosso exclusivo critério, que viola esses Termos de Uso.</li>
      <li>Você é o único responsável por sua interação com outros usuários do Serviço, seja online ou offline. Você concorda que o Sniffer não é responsável ou seja responsabilizado pela conduta de nenhum usuário. O Sniffer se reserva o direito, mas não tem a obrigação, de monitorar ou envolver-se em disputas entre você e outros usuários. Tenha bom senso e exercite o seu melhor julgamento ao interagir com outros, incluindo quando você envia ou publica Conteúdo ou qualquer informação pessoal ou outras informações.</li>
      <li>Podem existir links do Serviço, ou de comunicações que você recebe do Serviço, para sites ou recursos de terceiros. Também podem existir links para sites ou recursos de terceiros em imagens ou comentários dentro do Serviço. O Serviço também inclui conteúdo de terceiros que nós não controlamos, mantemos ou apoiamos. A funcionalidade do Serviço pode também permitir interações entre o Serviço e um site ou recurso de terceiros, incluindo aplicativos que conectam o Serviço ou seu perfil no Serviço a um site ou recurso de terceiros. Por exemplo, o Serviço pode incluir um recurso que permita que você compartilhe Conteúdo do Serviço ou seu Conteúdo com um terceiro, que pode ser publicado abertamente no serviço ou aplicativo deste terceiro. A utilização desta funcionalidade normalmente exige que você faça login em sua conta no serviço do terceiro e você faz isso por sua conta e risco. O Sniffer não controla nenhum desses serviços da Web de terceiros ou qualquer conteúdo deles. Você reconhece e concorda expressamente que o Sniffer não é, de forma alguma, responsável por esses serviços ou recursos de terceiros. SUA CORRESPONDÊNCIA E NEGÓCIOS COM TERCEIROS OBTIDOS ATRAVÉS DO SERVIÇO SÃO SOMENTE ENTRE VOCÊ E O TERCEIRO.</li>
      <li>Você concorda que você é responsável por todas as cobranças de dados a que você ficar sujeito através do uso do Serviço.</li>
      <li>Nós proibimos o rastreamento, scraping, armazenamento em cache ou, de qualquer outro modo, o acesso a qualquer conteúdo no Serviço através de meios automatizados, incluindo, entre outras coisas, perfis e fotos de usuários (exceto como resultado de protocolos ou tecnologias de mecanismos de busca padrão com a autorização expressa do Sniffer).</li>
    </ul>

    <h3>Direitos</h3>
    <ul>
      <li>O Sniffer não reivindica a propriedade de nenhum Conteúdo que você publica no Serviço ou através dele. Em vez disso, você concede ao Sniffer, por meio deste, uma licença global, não exclusiva, para hospedar, armazenar, usar, exibir, reproduzir, modificar, adaptar, editar, publicar, criar trabalhos derivados, executar publicamente o Conteúdo em qualquer forma e em toda e qualquer mídia ou métodos de distribuição de acordo com a nossa “Política de Privacidade”.</li>
      <li>Parte do Serviço é mantida através de receita de propaganda e pode exibir anúncios e promoções, e você concorda, por meio deste, que o Sniffer pode colocar esses anúncios e promoções no Serviço ou no, sobre ou em conjunto com seu Conteúdo. A maneira, modo e abrangência desses anúncios e promoções estão sujeitos a alterações sem qualquer tipo de aviso a você.</li>
      <li>Você reconhece que nem sempre podemos identificar serviços pagos, conteúdo patrocinado ou comunicação comercial como tal.</li>
      <li>Você declara e garante que: (i) o Conteúdo publicado por você no Serviço ou através dele é de sua propriedade ou, então, você possui o direito de conceder os direitos e licenças apresentados nesses Termos de Uso; (ii) a publicação e uso do seu Conteúdo no Serviço ou através dele não viola, utiliza incorretamente ou transgride os direitos de qualquer terceiro, incluindo, sem limitação, direitos de privacidade, direitos de publicidade, direitos autorais, marca comercial e/ou outros direitos de propriedade intelectual; (iii) você concorda em pagar todos os royalties, taxas e qualquer outra soma de dinheiro devida em função do Conteúdo que você publica no Serviço ou através dele; e (iv) você possui o direito e capacidade legal de participar desses Termos de Uso em sua jurisdição.</li>
      <li>O Serviço contém conteúdo de propriedade do Sniffer ou licenciado por ele ("Conteúdo do Sniffer"). O Conteúdo do Sniffer é protegido por direitos autorais, marca comercial, segredo comercial e outras leis, e, entre você e o Sniffer, o Sniffer possui e detém todos os direitos do Conteúdo do Sniffer e o Serviço. Você não irá remover, alterar ou ocultar quaisquer direitos autorais, marca comercial, marca de serviço ou outros avisos de direitos proprietários incorporados a ou que acompanham o Conteúdo do Sniffer e você não irá reproduzir, modificar, adaptar, preparar trabalhos derivados baseados em, executar, exibir, publicar, distribuir, transmitir, difundir, vender, licenciar ou, de outro modo, explorar o Conteúdo do Sniffer.</li>
      <li>O nome e o logotipo do Sniffer, e não devem ser copiados, imitados ou usados, em sua totalidade ou parcialmente, sem a autorização prévia por escrito do Sniffer. Além disso, todos os cabeçalhos de página, elementos gráficos personalizados, ícones de botões e scripts são marcas de serviço, marcas comerciais e/ou conjunto-imagem do Sniffer, e não podem ser copiados, imitados ou usados, em sua totalidade ou parcialmente, sem a autorização prévia por escrito do Sniffer.</li>
      <li>Embora a intenção do Sniffer seja de que o Serviço esteja o máximo possível disponível, pode haver ocasiões em que o Serviço pode ser interrompido, incluindo, entre outras coisas, para manutenções agendadas ou atualizações, para reparos de emergência, ou devido a falha dos links de telecomunicação e/ou equipamento. Além disso, o Sniffer se reserva o direito de remover qualquer Conteúdo do Serviço por qualquer motivo, sem aviso prévio. O Conteúdo removido do Serviço pode permanecer armazenado pelo Sniffer, incluindo, entre outras coisas, para estar em conformidade com determinadas obrigações legais, mas pode não ser recuperável sem uma ordem judicial válida. Em outras palavras, o Sniffer não é um serviço de backup e você concorda que não irá depender do Serviço com o propósito de backup ou armazenamento do Conteúdo. O Sniffer não terá nenhuma obrigação em relação a você em função de qualquer modificação, suspensão ou interrupção dos Serviços, ou a perda de qualquer Conteúdo. Você também reconhece que a Internet pode estar sujeita a falhas de segurança e que o envio do Conteúdo ou outras informações pode não ser seguro.</li>
      <li>Você concorda que o Sniffer não é responsável por, e não pode apoiar, Conteúdo publicado dentro do Serviço. O Sniffer não tem nenhuma obrigação de pré-selecionar, monitorar, editar ou remover qualquer Conteúdo. Se o seu Conteúdo viola esses Termos de Uso, você pode arcar com a responsabilidade legal por esse Conteúdo.</li>
      <li>Exceto onde especificado, entre você e o Sniffer, qualquer Conteúdo será não confidencial e não proprietário e nós não seremos responsabilizados por qualquer uso ou divulgação do Conteúdo. Você reconhece e concorda que o seu relacionamento com o Sniffer não é um relacionamento confidencial, fiduciário ou um relacionamento especial de qualquer outro tipo, e que a sua decisão de enviar qualquer Conteúdo não coloca o Sniffer em uma posição que seja, de qualquer forma, diferente da posição mantida por membros do público em geral, incluindo no que diz respeito ao seu Conteúdo. Nenhum de seus Conteúdos estará sujeito a qualquer obrigação de confidencialidade por parte do Sniffer, e o Sniffer não será responsabilizado por qualquer uso ou divulgação de qualquer Conteúdo fornecido por você.</li>
      <li>Faz parte da política do Sniffer não aceitar ou levar em consideração conteúdo, informações, ideias, sugestões ou outros materiais diferentes do que solicitamos especificamente e aos quais podem se aplicar determinados termos, condições e requisitos específicos. Isso serve para evitar desentendimentos caso suas ideias sejam similares às que desenvolvemos ou estamos desenvolvendo de forma independente. Consequentemente, o Sniffer não aceita materiais ou ideias não solicitados, e não assume nenhuma responsabilidade por quaisquer materiais ou ideias transmitidas desta forma. Se, apesar de nossa política, você optar por nos enviar conteúdo, informações, ideias, sugestões ou outros materiais, você ainda concorda que o Sniffer está autorizado a utilizar este conteúdo, informações, ideias, sugestões ou outros materiais, para qualquer finalidade, seja qual for, incluindo, entre outras coisas, o desenvolvimento e comercialização de produtos e serviços, sem qualquer obrigação ou pagamento de qualquer tipo devido a você.</li>
    </ul>

    <h3>Denúncia de violações de direitos autorais e outros direitos de propriedade intelectual</h3>
    <ul>
      <li>Nós respeitamos os direitos de terceiros, e esperamos que você faça o mesmo.</li>
      <li>Nós fornecemos a você ferramentas para ajudá-lo a proteger seus direitos de propriedade intelectual. Para saber mais sobre como fazer denúncias de violação de propriedade intelectual, entre em contato pelo e-mail: sniffercontato@gmail.com</li>
      <li>Se você violar repetidamente os direitos de propriedade intelectual de terceiros, nós desativaremos sua conta quando apropriado.</li>
    </ul>


    <h3>POLITICA DE PRIVACIDADE</h3>
    <p>Bem-vindo ao SNIFFER. O SNIFFER oferece a você uma forma rápida, divertida e colaborativa de compartilhar mídia através da nossa plataforma. Basta estar presente em um evento ou estabelecimento, tirar uma foto e compartilhar!</p>
    <ul>
      <li>Nossa Política de Privacidade explica como nós e algumas das empresas com as quais trabalhamos coletam, usam, compartilham e protegem as informações relacionadas a nossos serviços móveis, site da Web e qualquer software fornecido em ou associado aos serviços do SNIFFER (coletivamente, o "Serviço"), e suas escolhas sobre a coleta e o uso de suas informações.</li>
      <li>Ao usar o nosso Serviço, você entende e concorda que estamos oferecendo uma plataforma para você publicar conteúdo, incluindo fotos, comentários e outros materiais no Serviço e para compartilhar o Conteúdo do Usuário publicamente. Isso significa que outros Usuários podem pesquisar por, ver, usar ou compartilhar qualquer Conteúdo do usuário que você disponibilize publicamente através do Serviço, em consonância com os termos e condições desta Política de Privacidade e nossos Termos de Uso.</li>
      <li>Nossa Política se aplica a todos os visitantes, usuários e outros que acessam o Serviço ("Usuários").</li>
    </ul>

    <h3>1. INFORMAÇÕES QUE COLETAMOS</h3>
    <p>Nós coletamos os seguintes tipos de informações.</p>
    <p><b>Informações que você fornece para nós diretamente:</b></p>
    <ul>
      <li>Seu nome de usuário, senha e endereço de email quando você se registra para uma conta do SNIFFER.</li>
      <li>Informações de perfil que você fornece para seu perfil de usuário (por exemplo, nome e sobrenome, foto, número de telefone). Essas informações permitem que nós ajudemos você e outras pessoas a serem "encontradas" no SNIFFER.</li>
      <li>Conteúdo de Usuário (por exemplo, fotos, comentários e outros materiais) que você publica no Serviço.</li>
      <li>Comunicações entre você e o SNIFFER. Por exemplo, nós podemos enviar a você emails relacionados ao Serviço (por exemplo, verificação de conta, alterações/atualizações de recursos do Serviço, avisos técnicos e de segurança). Observe que você não pode recusar o recebimento de emails relacionados ao Serviço.</li>
    </ul>

    <h3>Informações de análise:</h3>
    <ul>
      <li>Nós usamos ferramentas de análise de terceiros para nos ajudar a medir o tráfego e as tendências de uso do Serviço. Essas ferramentas coletam informações enviadas pelo seu dispositivo ou pelo nosso Serviço. Nós coletamos e usamos essas informações de análise com informações de análise de outros Usuários, de forma que elas não podem ser usadas razoavelmente para identificar qualquer Usuário específico individualmente.</li>
    </ul>

    <h3>Identificadores de dispositivo:</h3>
    <ul>
      <li>Quando você usa um dispositivo móvel como um tablet ou telefone para acessar nosso Serviço, nós podemos acessar, coletar, monitorar, armazenar em seu dispositivo e/ou armazenar remotamente um ou mais "identificadores de dispositivo". Os identificadores de dispositivo são pequenos arquivos de dados ou estruturas de dados semelhantes armazenadas em seu dispositivo, ou associadas a ele, que identificam o seu dispositivo móvel de forma exclusiva. Um identificador de dispositivo pode ser composto por dados armazenados associados ao hardware do dispositivo, dados armazenados associados ao sistema operacional do dispositivo ou outros softwares ou dados enviados ao dispositivo pelo SNIFFER.</li>
      <li>Um identificador de dispositivo pode fornecer informações para nós ou para um parceiro terceirizado sobre a forma como você navega e usa o Serviço e pode nos ajudar, ou ajudar outros, a fornecer relatórios ou conteúdo e anúncios personalizados. Alguns recursos do Serviço podem não funcionar corretamente se o uso ou a disponibilidade desses identificadores de dispositivo estiver prejudicada ou desativada.</li>
    </ul>

    <h3>2. COMO NÓS USAMOS SUAS INFORMAÇÕES</h3>
    <p>Além de alguns dos usos específicos de informações que descrevemos nesta Política de Privacidade, nós podemos usar as informações que recebemos para:</p>
    <ul>
      <li>Ajudá-lo a acessar suas informações de forma eficiente após seu login;</li>
      <li>Lembrar suas informações para que você não tenha que reinseri-las durante sua visita ou na próxima vez que acessar o Serviço;</li>
      <li>Fornecer informações e conteúdo personalizados para você e outros, o que pode incluir anúncios online ou outras formas de marketing;</li>
      <li>Fornecer, aprimorar, testar e monitorar a eficiência de nosso Serviço;</li>
      <li>Desenvolver e testar novos produtos e recursos;</li>
      <li>Monitorar métricas como o número total de visitantes, tráfego e padrões demográficos;</li>
      <li>Diagnosticar ou corrigir problemas de tecnologia;</li>
      <li>Atualizar automaticamente o aplicativo do SNIFFER no seu dispositivo;</li>
      <li>O SNIFFER ou outros usuários podem realizar concursos, ofertas especiais ou outros eventos ou atividades ("Eventos") no Serviço. </li>
    </ul>

    <h3>3. COMPARTILHAMENTO DE SUAS INFORMAÇÕES</h3>
    <p>Nós não alugaremos nem venderemos suas informações a terceiros fora do SNIFFER (ou do grupo de empresas do qual o SNIFFER faz parte) sem a sua autorização, exceto conforme descrito nesta Política. </p>
    <p><b>Partes com as quais podemos compartilhar suas informações:</b></p>
    <ul>
      <li>Nós podemos compartilhar o Conteúdo do Usuário e suas informações (incluindo, entre outras, informações de cookies, arquivos de log, identificadores de dispositivo, dados de localização e dados de uso) com empresas que façam parte legalmente do mesmo grupo de empresas do qual o SNIFFER é parte ou que se tornem parte deste grupo ("Afiliadas"). As Afiliadas podem usar essas informações para ajudar a fornecer, entender e aprimorar o Serviço (incluindo o fornecimento de análises) e os próprios serviços das Afiliadas (incluindo o fornecimento a você de experiências melhores e mais relevantes). Contudo, essas Afiliadas respeitarão as escolhas feitas por você.</li>
      <li>Nós também podemos compartilhar suas informações, assim como informações de ferramentas como cookies, arquivos de log e identificadores de dispositivo e dados de localização, com organizações de terceiros que nos ajudam a fornecer o Serviço a você ("Provedores de Serviço"). Nossos Provedores de Serviço receberão acesso às suas informações conforme razoavelmente necessário para fornecer o Serviço mediante termos de confidencialidade aceitáveis.</li>
      <li>Nós também podemos compartilhar determinadas informações como dados de cookies com parceiros de propaganda terceirizados. Essas informações permitem que redes de anúncio terceirizadas, entre outras coisas, forneçam propaganda direcionada que elas acreditam que seja de maior interesse para você.</li>
      <li>Nós podemos remover partes de dados que possam identificá-lo e compartilhar dados anônimos com outras partes. Nós também podemos combinar suas informações com outras informações para que elas não fiquem mais associadas a você e compartilhar essas informações agregadas.</li>
    </ul>
    <p><b>Partes com quem você pode escolher compartilhar seu Conteúdo do Usuário:</b></p>
    <ul>
      <li>Qualquer informação ou conteúdo que você divulga voluntariamente para publicação no Serviço, como Conteúdo do Usuário, é disponibilizado para o público</li>
      <li>Se você remover informações que você publicou no Serviço, cópias podem permanecer visualizáveis em páginas armazenadas em cache e arquivadas do Serviço.</li>
    </ul>

    <p><b>O que acontece no caso de uma alteração de controle:</b></p>
    <ul>
      <li>Se nós vendermos ou transferirmos parte ou todo o SNIFFER ou nossos ativos para outra organização (por exemplo, durante uma transação de fusão, aquisição, falência, dissolução, liquidação), suas informações, como nome e endereço de email, Conteúdo do Usuário e qualquer outra informação coletada através do Serviço pode estar entre os itens vendidos ou transferidos. Você continuará a ser o proprietário do seu Conteúdo do Usuário. O comprador ou cessionário terá que respeitar os compromissos que fizemos nesta Política de Privacidade.</li>
    </ul>
    <p><b>Atendendo a solicitações judiciais e evitando prejuízos:</b></p>
    <ul>
    <li>Nós podemos acessar, reter e compartilhar suas informações em resposta a uma solicitação judicial (como um mandado de busca, ordem judicial ou intimação) se acreditarmos em boa fé que a lei nos obriga a fazer isso. Isso pode incluir a resposta a solicitações judiciais de jurisdições fora Brasil quando acreditarmos de boa fé que a resposta é exigida por lei na jurisdição em questão, diz respeito aos usuários na jurisdição em questão e está em conformidade com padrões reconhecidos internacionalmente. Também podemos acessar, reter e compartilhar informações quando acreditarmos em boa fé que isso seja necessário para: detectar, impedir e resolver fraudes ou outras atividades ilegais; proteger a nós mesmos, nossos Serviços, você e outras pessoas, inclusive como parte das investigações; impedir a morte ou lesões corporais iminentes. As informações que recebemos sobre você podem ser acessadas, processadas e retidas por um período prolongado quando estiverem relacionadas a uma solicitação ou obrigação jurídica, investigação governamental ou investigações relacionadas a possíveis violações de nossos termos ou políticas, ou, então, para impedir prejuízos.</li></ul>

    <h3>4. ALTERAÇÕES EM NOSSA POLÍTICA DE PRIVACIDADE</h3>
    <ul>
      <li>O SNIFFER pode modificar ou atualizar esta Política de Privacidade de tempos em tempos, portanto verifique-a periodicamente. Nós podemos fornecer a você formas adicionais de aviso sobre modificações ou atualizações conforme apropriado mediante as circunstâncias. A continuação do seu uso do SNIFFER ou do Serviço após qualquer modificação desta Política de Privacidade constituirá sua aceitação das modificações em questão.</li>
    </ul>
  </div>

</div>
