.inner {
  margin: 30px auto 0;
  max-width: 850px;
}

html, body {
  height: 100%;
  margin-bottom: 75px;
}

body {
  padding-bottom: 70px;

  .navbar-collapse {
    margin-top: 35px;
  }

  > .navbar-inverse {
    background-color: #FFF;
    border: none;
    padding-top: 10px;
    margin-bottom: 45px;

    .navbar-header .navbar-toggle {
      background: #FFF;
      position: relative;
      top: 20px;

      .icon-bar {
        background-color: #333;
      }
    }

    .navbar-brand {
      margin-top: -5px;
    }

    .navbar-nav > li > a {
      color: #333;

      &:hover {
        color: #333;
      }
    }
  }
}
