<p><%= t('.greeting', recipient: @resource.first_name, default: "Hello #{@resource.first_name}!") %></p>

<p><%= t('.message', default: 'We are contacting you to notify you that your password has been changed.') %></p>
