  <p>Olá <%= @resource.first_name %>!</p>

<p>Alguém requisitou um link para recuperação de senha. Você pode fazer isso através do link abaixo:</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, ignore esse email.</p>
<p>Sua senha não será alterada até que você acesse o link acima e altere.</p>
