<!DOCTYPE html>
<html>
  <head>
    <title>Aplicativo Sniffer</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Kincode">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'landing_page/application' %>
  </head>
  <body>
    <header class="navbar navbar-inverse">
      <%= render "landing_page/shared/header" %>
    </header>
    <%= yield %>
  </body>
</html>
