<!DOCTYPE html>
<html>
  <head>
    <title>Sniffer Admin | Fazer login</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container sessions-layout">
      <div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
