<!DOCTYPE html>
<html>
  <head>
    <title>Sniffer | Admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="page-content devise-content">
      <div class="container">
        <div class="inner">
          <%= yield %>
        </div>
      </div>
    </section>
  </body>
</html>
