<table class="table">
  <thead>
    <tr>
      <th style="width: 20%;">Ativa</th>
      <th style="width: 80%;">Nome</th>
    </tr>
  </thead>
  <tbody>
    <% Tag.aliases.each do |tag, key| %>
      <tr>
        <td>
           <%= f.input :tags, as: :boolean %>
        </td>
        <td>
          <%= I18n.t(tag) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
