<div class="alert alert-info">
  <i class="fa fa-info-circle"></i>
  Somente os usuários abaixo poderão postar contéudos (sniffs) dentro desse estabelecimento
</div>
<hr />
<%= f.association :users %>
